
<div class="container">
    
 <form [formGroup]="newRecipeForm" (ngSubmit)="saveRecipe()">
    <button type="submit" class="btn btn-success"id="save" [disabled]="newRecipeForm.status=='INVALID'" >Add</button>
<button type="button" class="btn btn-danger ml-3"id="clear" (click)="clearAll()" >Clear</button><br>
    <div class="form-group">
        <label for="name">Name</label>
    <input type="text" class="form-control ml-1 w-100" required formControlName="name" class="form-control" placeholder="Enter name here..!!">
    <span class="blocks" *ngIf="newRecipeForm.get('name') ?.status=='INVALID'&& newRecipeForm.get('name') ?.touched">Please Enter Name</span>
    </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" class="form-control ml-1 w-100" required formControlName="image" class="form-control" placeholder="Enter image here..!!">
    <span class="blocks"  *ngIf="newRecipeForm.get('image') ?.status=='INVALID'&& newRecipeForm.get('image') ?.touched">Please Enter image</span>
  </div>
  <div class="form-group">
    <label for="name">Description</label>
    <textarea id="description" name="description" rows="10" cols="56" class="form-control"  required formControlName="description" class="form-control" placeholder="Enter description here..!!"></textarea> 
    <span class="blocks" *ngIf="newRecipeForm.get('description') ?.status=='INVALID'&& newRecipeForm.get('description') ?.touched">Please Enter description</span>

    <hr>
  </div>
    <button type="button" class="btn btn-success">Add Ingredients</button>
 </form>

</div>
<!-- 1) Convert the new recipe form using either TD/RD approach 
    2) On click of the clear button all the fields must be empty and the form should be reset 
    3) Add validations to each input box and also add a validation message as the field cannot be empty 
     with CSS (red border and a validation message)
    4) Disable the Add/Save Button until the form is valid. -->
    <!-- https://pratibha-e05a5-default-rtdb.firebaseio.com/ -->
    <!-- https://console.firebase.google.com/project/pratibha-e05a5/database/pratibha-e05a5-default-rtdb/data/~2F -->